# Entornos virtuales de Python
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno y secretos
.env
*.env

# Carpetas de dependencias (Node, si llegaras a usar)
node_modules/

# Archivos del editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log